body > header {
  background-image: image-url('header-small.jpg');
  background-position: 20px center;
  background-repeat: no-repeat;
  padding: 60px 0 60px 170px;
  h1 {
    font-size: 36px;
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 26px;
    color: $subtitle-color;
    font-weight: normal;
  }
}
