body > header {
  background-image: image-url('header.jpg');
  background-position: 20px center;
  background-repeat: no-repeat;
  padding: 60px 0 60px 170px;
  @media only screen and (max-width: 479px) {
    background-image: image-url('header-small.jpg');
    background-position: 10px center;
    padding: 30px 0 30px 100px;
  }
  h1 {
    display: inline-block;
    margin: 0;
    @media only screen and (max-width: 479px) {
      font-size: 24px;
    }
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    color: $subtitle-color;
    font-weight: normal;
  }
}
